package me.mskhan.bookmanagement.security;

public class JWTConstants {
    public static final String SECRET = ""; // enclose SECRET in quotes here
    public static final long EXPIRATION_TIME = 900000; // expiration time in ms
    public static final String TOKEN_PREFIX = "Bearer ";
    public static final String HEADER_STRING = "Authorization";
    public static final String SIGN_UP_URL = "/signup";
}
